$charcoal: #bbb;
$bright-white: #f2f2f2;

$pokeblue: #3d7dca;
$pokeyellow: #ffcb05;
$pokenavy: #003a70;
$pokered: #f00000;

.main-header {
  align-items: center;
  background-color: $pokeyellow;
  border-bottom: 5px solid $pokered;
  display: flex;
  height: 100px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }

  h1 {
    color: $pokenavy;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: .7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      background-color: $pokered;
      border: 1px solid $pokenavy;
      color: $bright-white;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
