@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$black: #000;
$bright-white: #f2f2f2;
$delete: #ff3232;
$light-gray: #dbdbdb;
$cobalt: #003aab;
$seafoam: #00ab72;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}

.bold {
  font-weight: bold;
}

.btn-add {
  margin-bottom: 5%;
  margin-left: 5%;
}

.card-text {
  width: 20rem;
}

.dark-link {
  color: $black;
}

.disclaimer {
  font-size: .8em;
}

.drop-search {
  background-color: $light-gray !important;
}

.flex-col-center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-row-left {
  display: flex;
  justify-content: flex-start;
}

.get-cards {
  width: 10rem;
}

.home-link {
  color: $black;
  text-align: center;
  width: 20rem;
}

.jumbo {
  background-image: linear-gradient(to bottom right, $seafoam, $cobalt) !important;
  color: $light-gray;
}

.search-by {
  display: flex;
}

.sm-icon {
  height: 20px;
  width: 20px;
}

.space {
  margin: 15px;
}

.title {
  text-align: center;
}

.win-lose-field {
  width: 3.5rem !important;
}

@media (max-width: 350px) {
  .card-text {
    width: 18rem;
  }

  .get-cards {
    margin: 1rem;
    width: 7rem;
  }

  .search-by {
    align-items: center;
    flex-direction: column;
  }

  .win-lose-field {
    width: 2.5rem !important;
  }
}
